@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
    --accented-color: #09e4a2;
    --dark: rgba(11, 11, 11, 1);
    --light: rgba(230, 230, 230, 1);
    --img-size: 50px;
}

body {
    background-color: rgb(230, 230, 230);
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
    background: url('../images/grid2.png') repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 1.5s infinite; /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 1.5s infinite; /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 1.5s infinite; /* Opera 12+ */
    animation: bg-scrolling-reverse 1.5s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

div.banner {
    width: 100%;
    background-color: var(--dark);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#banner {
    background-color: var(--dark);
}

#cover-video {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

.scroll-down-text {
    color: transparent;
    transition: color 0.25s ease-in-out;
}

#banner-hover {
    background-image: linear-gradient(
        to bottom,
        rgba(11, 11, 11, 0) 70%,
        var(--dark)
    );
    opacity: 0;
    z-index: 2;
    transition: opacity 0.25s ease-in-out;
}

#banner:hover #banner-hover {
    opacity: 1;
}

div.navbar-custom {
    background-color: rgba(11, 11, 11, 0.75);
}

div.showMenu {
    opacity: 1;
    transition: 0.25s ease-in-out;
    translate: 0 1rem;
}

div.hideMenu {
    opacity: 0;
    pointer-events: none;
    height: 0px;
    transition: 0.25s ease-in-out;
}

.mobile-nav-item {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-right: 5px solid var(--accented-color);
}

#loading {
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.move-up-down {
    animation: MoveUpDown 0.66s ease-in-out infinite;
    position: absolute;
    left: 50%;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-15px) translateX(-50%);
    }
}

.content-scroll {
    scroll-margin-top: 3rem;
}

.close-x-btn {
    position: absolute;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    color: #707070;
    z-index: 50;
    transition: 0.35s ease-in-out;
}

.close-x-btn:hover {
    color: var(--dark);
    transform: scale(1.05);
}

.logo {
    height: 2rem;
    width: auto;
}

#menu-logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo-about {
    width: 100%;
    max-width: 20rem;
    padding: 3rem 0;
    height: auto;
}

.go-to-next-section-btn {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 3;
}

.hamburger_menu {
    height: 1.25rem;
    width: auto;
}

#hamburger_menu {
    transition: 0.35s ease-in-out;
    font-size: 2rem;
}

.header {
    border-bottom: 5px solid var(--accented-color);
    width: fit-content;
    font-weight: 600;
}

.member-popup {
    position: fixed;
    display: block;
    top: 0;
    z-index: 6;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    transition: 0.5s ease-in-out;
    text-align: center;
    /* img size is 50x50 */
    background: url('../images/grid.png') repeat 0 0;

    -webkit-animation: bg-scrolling-reverse 1.5s infinite; /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 1.5s infinite; /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 1.5s infinite; /* Opera 12+ */
    animation: bg-scrolling-reverse 1.5s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.member-backdrop {
    position: absolute;
    height: auto;
    min-height: 150vh;
    min-width: 250%;
    opacity: 0.5;
    left: 40%;
    top: 50%;
    transform: translateX(-50%) translateY(-30%);
    overflow: hidden;
    pointer-events: none;
    filter: blur(15px);
    -webkit-filter: blur(15px); /* Safari 4+ */
    -moz-filter: blur(15px); /* Fx 5+ */
    -o-filter: blur(15px); /* Opera 12+ */
}

.member-fullbody {
    position: absolute;
    width: auto;
    height: 185vh;
    opacity: 1;
    left: 62%;
    top: -5%;
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
}

.member-profile-card {
    z-index: 10;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.member-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}

.member-photo:hover {
    border-radius: 10px;
    transform: scale(1.05);
}

.menu-btn {
    color: white;
    font-weight: 600;
    position: relative;
    padding: 1rem 0;
    text-decoration: none;
}

.menu-text {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.overlay-menu-btn {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 0%;
    top: 0;
    border-bottom: 5px solid var(--accented-color);
    transition: width 0.25s ease-in-out;
}

.menu-btn:hover .overlay-menu-btn {
    width: 100%;
}

.accented {
    color: var(--accented-color);
}

.fade-in {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.85s ease-out, transform 1.25s ease-out;
    will-change: opacity, visibility;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-onload {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.85s ease-out;
    will-change: opacity, visibility;
}

.fade-in-onload.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.scroll-down-btn {
    width: 100%;
    height: 30vh;
    pointer-events: auto;
    color: white;
    text-align: center;
}

.social-btn {
    color: white;
    background-color: var(--dark);
    font-weight: 600;
    position: relative;
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: none;
}

.social-text {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    z-index: 2;
}

.overlay-social-btn {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 0%;
    top: 0;
    transition: width 0.25s ease-in-out;
}

.overlay-social-btn-x {
    background-color: white;
}

.overlay-social-btn-youtube {
    background-color: var(--bs-danger);
}

.overlay-social-btn-facebook {
    background-color: var(--bs-primary);
}

.social-text-x {
    transition: 0.25s ease-in-out;
}

.social-btn-x:hover .social-text-x {
    color: var(--dark);
}

.social-btn:hover .overlay-social-btn {
    width: 100%;
}

#social-row-x-hover {
    opacity: 0;
    height: 0px;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

#social-row-youtube-hover {
    opacity: 0;
    height: 0px;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

#social-row-facebook-hover {
    opacity: 0;
    height: 0px;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

#social-row-x:hover #social-row-x-hover {
    opacity: 1;
    height: auto;
    pointer-events: auto;
}

#social-row-youtube:hover #social-row-youtube-hover {
    opacity: 1;
    height: auto;
    pointer-events: auto;
}

#social-row-facebook:hover #social-row-facebook-hover {
    opacity: 1;
    height: auto;
    pointer-events: auto;
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--img-size) var(--img-size);
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--img-size) var(--img-size);
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--img-size) var(--img-size);
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--img-size) var(--img-size);
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: var(--img-size) var(--img-size);
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: var(--img-size) var(--img-size);
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: var(--img-size) var(--img-size);
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: var(--img-size) var(--img-size);
    }
}
