@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --accented-color: rgb(50, 227, 168);
    --dark: rgba(11, 11, 11, 1);
}

body {
    background-color: rgb(11,11,11);
    font-family: "Monserrat", sans-serif;
}

div.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

div#banner{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--dark)), url("https://lucian.solutions/images/303.png");
}

div#banner2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--dark)), url("https://lucian.solutions/images/301.png");
}

.scroll-down-text {
    color: transparent;
    transition: color 0.25s ease-in-out;
}

div.banner:hover .scroll-down-text{
    color: white;
}

div#navbar {
    background-color: rgba(11,11,11,0.8);
}

#loading {
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.content-scroll {
    scroll-margin-top: 3rem;
}

.logo {
    height: 5rem;
    width: auto;
    padding: 0.5rem 0;
}

.logo-about {
    width: 100%;
    height: auto;
}

.hamburger_menu {
    height: 2.5rem;
    width: auto;
}

.header {
    border-bottom: 5px solid var(--accented-color);
    width: fit-content;
    font-weight: 600;
}

.menu-btn {
    color: white;
    font-weight: 600;
    position: relative;
    padding: 1rem 0;
    text-decoration: none;
}

.menu-text {
    font-size: 1.25rem;
    text-decoration: none;
}

.overlay-menu-btn {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 0%;
    top: 0;
    border-bottom: 5px solid var(--accented-color);
    transition: width 0.25s ease-in-out;
}

.menu-btn:hover .overlay-menu-btn {
    width: 100%;
}

.accented {
    color: var(--accented-color);
}